.threat-container {
  padding: 20px;
  color: white;
  background: #000;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

/* Header */
.threat-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.export{
  background:#1f3b77;
  padding:10px 15px;
  border-radius:6px;
  border:none;
  color:white;
  cursor:pointer;
}

/* Filters */
.filters{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
  margin-top:15px;
}

.filters select,
.filters input{
  background:#0f1b33;
  border:1px solid #233665;
  padding:10px;
  color:white;
  border-radius:5px;
}

/* Table */
.table-box{
  margin-top:20px;
  background:#0f1b33;
  padding:20px;
  border-radius:10px;
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#12214a;
}

th,td{
  padding:12px;
  text-align:left;
}

tr{
  border-bottom:1px solid #1c2d4d;
}

/* Severity Badges */
.badge{
  padding:5px 10px;
  border-radius:20px;
  font-size:12px;
  color:white;
}

.red{ background:#c62828; }
.orange{ background:#ff9800; }
.yellow{ background:#ffc107; color:black; }
.green{ background:#4caf50; }
.blue{ background:#2196f3; }
